{{ include('exercice2/product/header.html.twig') }}
 {% for announce in tableau_a %}
     {% if announce.id == id %}
        <p>{{ announce.id }}</p>
        <p>{{ announce.title }}</p>
        <p>{{ announce.content }}</p>
        <p>{{ announce.price }}</p>
        <p>{{ announce.created_date|date("d/m/y") }}</p>
     {% endif %}
 {% endfor %}
<br/>
<br/>

{% for announce in tableau_b %}
        <p>{{ announce.id }}</p>
        <p>{{ announce.title }}</p>
        <p>{{ announce.content }}</p>
        <p>{{ announce.price }}</p>
        <p>{{ announce.createdAt|date("d/m/y") }}</p>
{% endfor %}
