<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
<ul class="navigation">
    <li><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
    <li><a href="{{ path('page') }}">{{ 'List'|trans }}</a></li>
    <li><a href="{{ path('creation') }}">{{ 'Add'|trans }}</a></li>
    <li><a href="{{ path('task') }}">{{ 'Task'|trans }}</a></li>
    <li><a href="{{ path('CreateAnnoucement') }}">{{ 'Création'|trans }}</a></li>
</ul>

