{{ include('exercice2/product/header.html.twig') }}
<h3>Table</h3>
<br/><br/>
    {% for announce in tableau_a %}
        <a href="{{ path('annoucement_details', {id: announce.id}) }}">{{ announce.title }}</a><br/>
    {% endfor %}
<br/><br/>
<h3>Table BDD</h3>
<br/><br/>
    {% for announce in tableau_b %}
        <a href="{{ path('annoucement_details', {id: announce.id}) }}">{{ announce.title }}</a><br/>
    {% endfor %}